RewriteEngine On

RewriteRule ^index\.php/ - [R=404]

#RewriteCond %{HTTP_USER_AGENT}		^.*nagios.*$
#RewriteRule .*				index-nagios.html

Options -Indexes -MultiViews

SetOutputFilter DEFLATE

ExpiresActive On
ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
FileETag none


